body {
   font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
    flex: 1;
}
/* navbar */
.navbar{
    height: 5 rem;
    background-color: white;
}
.fa-compass-drafting{
    color: #fe424d;
    font-size: 2 rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}

.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right:1rem;
    font-size: 1.2 rem;
}

.f-info{
    text-align: center;
    height: 8 rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding:0 !important;
}
.card-text {
    font-weight: 400;
}

.Listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white ;
}

/* Add lsiting :new template,new.ejs*/
.add-btn {
    background-color: pink;
    border-radius: 1rem;
    border: none !important;
}

.add-btn:hover {
    background-color: white !important;
}

/* Edit button:-edit.ejs */

.edit-btn{
    background-color: red;
    border: none !important;
    border-radius: 1rem;
}

.edit-btn:hover{
    background-color:green;
}

/* Show page after clicking on page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;

}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.btn-del{
    color: white !important;
}

 /* for map */
 #map { 
    height: 400px;
    width: 80vh;
}
